<h1>URL Shortener</h1>

	<form action="home">
		<label>Your link: <input labeltype="url" name="long-link" /></label>
		<input type="submit" value="Shorten it!" />
	</form>

	<p>Your shortened link: </p>

	