<h1>URL Shortener</h1>

<!-- 	<form method="get" action="/home">
		<label>Your link: <input labeltype="url" name="long-link" /></label>
		<input type="submit" value="Shorten it!" />
	</form> -->

	<h1>Try these links</h1>

	<ul><% @all_long_links.each do |link| %>
			<li><a href='/<%=link.id%>'><%=link.id%></a>
			</li>
		<%end%>
	</ul>

<h2><a href="/all">Full list of links</a></h2>

<h2><a href="/most_visited_pages">Top 10 links</a></h2>
